services:
  rsshub:
    image: diygod/rsshub
    # Always pull docker image
    #pull_policy: always
    restart: always
    hostname: rsshub

    environment:
      NODE_ENV: production
      CACHE_TYPE: redis
      REDIS_URL: 'redis://redis:6379/'
      PUPPETEER_WS_ENDPOINT: 'ws://browserless:3000' # marked
      PUPPETEER_REAL_BROWSER_SERVICE: 'http://real-browser:3000' # marked
    depends_on:
      - redis
      - browserless # marked
    ports:
      # ---- Format: ----
      # [HOST-ADDR : ] HOST-PORT : DOCKER-PORT
      - "${HOST_PORT_RSSHUB}:1200"

    networks:
      - net

    healthcheck:
      test: [ 'CMD', 'curl', '-f', 'http://localhost:1200/healthz' ]
      interval: 30s
      timeout: 10s
      retries: 3

  real-browser:
    image: ghcr.io/hyoban/puppeteer-real-browser-hono
    restart: always
    healthcheck:
      test: [ 'CMD', 'curl', '-f', 'http://localhost:3000' ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - net

  browserless:
    # marked
    image: browserless/chrome # marked
    restart: always # marked
    healthcheck:
      # marked
      test: [ 'CMD', 'curl', '-f', 'http://localhost:3000/pressure' ] # marked
      interval: 30s # marked
      timeout: 10s # marked
      retries: 3 # marked
    networks:
      - net

networks:
  net:
    name: ${COMPOSE_NETWORK_NAME}
    driver: bridge
